@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*<p>Sales Invoice <a href="https://localhost:7129/SalesInvoice/CreateInvoice">Add Sales Invoice details</a>.</p>*@
    @*<p>List of Invoices <a href="https://localhost:7129/SalesInvoice/InvoiceList">Invoice List</a>.</p>*@

    <p>Sales Invoice <a href="https://localhost:7129/Payments/CreateCheckoutSession">Add Sales Invoice details</a>.</p>
    <p>List of Invoices <a href="https://localhost:7129/Payments/CreateCheckoutSession">Invoice List</a>.</p>
</div>
